.pin-pg.board{
	border: 5px solid black;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	font-family: "Raleway";
	font-size: 20px;
	text-align: center;
}

.pin-pg.pin-box {
	width: 75%;
	border: 2px solid gray;
	border-radius: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: "Raleway";
}

.pin-pg.pin-text {
	display: inline-block;
	margin-top: 3%;
}

.pin-pg.pin-btn {
	margin-right: 5%;
	margin-top: 1.5%;
}