/* ----------PIN PAGE---------*/

.pin-pg.category{
	border: 5px solid black;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	font-family: "Raleway";
	font-size: 20px;
	text-align: center;
}

.pin-pg.pin-box {
	width: 75%;
	border: 2px solid gray;
	border-radius: 10px;
	margin: 10px auto;
	padding: 5px;
	font-family: "Raleway";
}

/* ----------NAVBAR---------- */

.navbar.tab {
	display: inline-block;
	margin: 0px 20px 0px 0px;
	width: 20%;
	height: 100%;
	font-size: 18px;
	border-bottom: 1px black solid;
	border-radius: 0px;
	font-family: "Lucida Handwriting";
}

a.tab:link {
	text-decoration: none;
	color: #678d58;
}

a.tab:visited {
	color: #678d58;
}

.tab:hover {
	cursor: pointer;
	background-color: #fff8dc;
}

/* ----------CALENDAR---------*/
#calendar{
	float: left;
	width: 70%;
	padding: 20px;
}
#calendar-pins{
	float: right;
	width: 30%;
	padding: 20px;
}
.calendar-pin, .ui-draggable-dragging{
	width: 150px;
	border: 2px solid gray;
	border-radius: 10px;
	padding: 10px;
	font-family: "Raleway";
	cursor: -webkit-grab;
	z-index: 10;
	background-color: #E6E6FA;
}
